.add-option {
    display: flex;
    padding: $m-size;
    flex-direction: column;
}

.add-option__input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue,10%);
    margin-right: $s-size;
    color: $off-white;
    padding: $s-size;
    margin: 0 0 $s-size 0;
}

.add-option__error {
    color: $error;
    font-style: italic;
    padding: $s-size $m-size;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}