//Widget 
.widget {
    background: $light-blue;
}

.widget__introduction {
    margin: 0;
    color: $off-white;
    text-align: center;
    padding:$l-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

// Widget header
.widget-header{
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}